.areaTitle {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.areaTitleText {
	color: #585858;
	font-size: 28px;
	font-family: Arial;
	font-weight: 600;
	margin: 35px 0 35px 20px;
}

.formArea {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formContent {
	background-color: #fff;
	border-radius: 20px;
	padding: 40px 80px;
}
.formContent div {
	width: 300px;
}

.gainArea {
	display: flex;
	overflow-x: auto;
}
.gainCards {
	background-color: #fff;
	width: 200px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin-right: 10px;
}
.gainStatus {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.adsArea {
	margin-bottom: 40px;
}
.adDiv {
	width: 970px;
	height: 250px;
	background-color: #090909;
}

@media screen and (max-width: 1120px) {
	.formContent {
		padding: 25px 40px;
	}
	.formContent div {
		width: 240px;
	}
};
